.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.resultDiv {
  position: absolute;
  left: 40vw;
  text-align: center;
  width: 20vw;
  height: 2vw;
  border: 3px solid black;
}

.spinner{
  width: 5vw;
  height: 5vw;
  position: absolute;
  top: 20vh;
}

.container {
  width: 75px;
  display: inline-block;
  position: relative;
  left: 0px;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 3.5vh;
  width: 4vw;
  background-color: #eee;
  border-radius: 20%;
  font-weight: bolder;
  font-size: 1.1vw;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: rgba(305, 3, 3, .7);
 /* background-color: red;*/
}

.container2 input:checked ~ .checkmark {
  background-color: rgba(305, 3, 3, .7);
 /* background-color: red;*/
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
 display: block;
}

.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 30%;
	background: rgba(300, 300, 300, .0);
}
